#content {
    font-family: Helvetica, Verdana, Arial, "sans serif";
    background-image: linear-gradient(to right, grey, #84638c);
    margin: 40px 20px;
    border-style: solid 10px;
    border-color: darkred;
    color: #ffffff;
    padding: 55px 5px 5px 5px;
    font-size: 120%;
    color: #ffffff;
}

#sidebar{
  float: right;
  max-width: 45%;
}

div#images {
  padding: 40px 5px 5px 5px;
  margin-top: 20px;
  background-color: grey;
  border: solid 10px grey;
  height: auto;
  margin-left: 30px;
  box-shadow: 5px 5px 5px darkred;
  object-fit: contain;
  float: left;
  max-width: 30%
}
  img {
  filter: drop-shadow(5px 5px 5px darkred);
  object-fit: contain;
  padding: 10px;
  width: 400px;
  height: 100px;
  transform: rotate(20deg);
}

h1, h2, h3 {
    font-family: "Impact", monospace;
    text-shadow: 2px 2px grey;
    background-image: linear-gradient(to right, grey, #84638c);
}

p{
  font-family: "Arial", monospace;
}

nav{
  position: sticky;
  background: #84638c;
  border: white;
  border-radius: 15px;
    color: white;
    font-style: normal;
  padding: 10px 0 10px 20px;
  font-size: larger;
  font-weight: bold;
}

a {
    text-decoration: underline;
    color: darkred;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

html{
  background-color: #84638c;
}
