main#content {
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

div {
  font-family: myFirstFont;
}

nav#links {
  display: center;
  /* inline-block */
  border: solid #5c81ab 10px;
  background: #a7bdff;
  font-size: 180%;
  text-align: center;
  margin: 110px 10px 10px 10px;
  position: relative;
  height: auto;
  width: auto;
}

iframe#fake {
  width: 800px;
  height: 500px;
  resize: both;
  overflow: hidden;
}

html {
  background: #a7bdff;
  height: auto;
}
