#nav{
  font font-family: "Lora", serif;
  font-size: 25px;
}

#cartoon{
  float: right;
  padding-top: 80px;
  padding-right: 40px;
}

em{
  font-family: "Lora", sans-serif;
  font-style: italic;
  font-size: 25px;
}

main{
  padding-left: 100px;
  padding-top: 40px;
}

#motto {
  font-family: "lora",serif;
  font-size: 25px;
}

aside{
  float: right;
  padding-right: 100px;
}

#table{
  padding-left: 150px;
  padding-top: 30px;
}

#header2{
  float:right;
  font-size: 25px;
}

#rightcontent, #leftcontent {
  font-family: "Calibri",sans-serif;
  color: black
}
