nav{
    position: sticky;
    top: 0;
    border: solid white 8px;
    padding: 20px;
    font-size: x-large;
    font-style: italic;
    font-family: cursive;
    font: Snell Roundhound;
    font-variant: small-caps;
    text-align: center;
    background: pink;
}

header {
    font-family: cursive;
    font: Snell Roundhound;
    font-variant: small-caps;
    font-size: 100px;
    text-align: center;
    padding-bottom: 40px;
    margin-left: 0 0 0 500px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
}

div{
  margins: 55px;
  border: solid pink 5px;
  color: lightblue;

}

h1,h2{
    font-family: cursive;
    font-style: normal;
    font: Snell Roundhound;
    font-variant: small-caps;
    color: white'
}

p{
    font-family: cursive;
    font-style: oblique;
    font-size: 90%
    color: white'
}

html{
    background: #b7793c;
}
